@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="home__content vh-100 d-flex flex-column justify-content-center">
                    <h2 class="home__title">School Management Software</h2>
                    <h5>Meet the ALL-IN-ONE School Management Software System.</h5>
                    <a class="btn home__scroll" href="#section2" type="btn">
                        explore
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  -->
<div class="about" id="section2">
    <div class="container">
        <div class="row flex-wrap">
            <div class="col-md-12 col-lg-7">
                <h2 class="about__title">
                    No more hustle in Management. Use a smooth running School
                    Management System.
                </h2>
                <p class="">
                    <strong> School Management System</strong> is a need to run the
                    school effortlessly because it provides different types of
                    management modules to satisfy your needs. Managing the school
                    becomes a little tough due to different tasks and activities. If
                    you want to beat the competitors then take advantage of the
                    digital revolution. The School management System developed by Us
                    provides a set of user-friendly modules for students, teachers and
                    parents. We put our years of experience and need of schools in
                    these <strong>School Management ERP</strong>.
                </p>
                <a href="#section4" class="btn btn-primary mt-3 mb-3">System Features</a>
            </div>
            <div class="col-md-12 col-lg-5">
                <div class="about__image"></div>
            </div>
        </div>
    </div>
</div>

<!--  -->
<div class="admin" id="section4">
    <div class="container">
        <h2 class="text-center heading admin__head">Management</h2>
        <div class="row">
            <div class="col-lg-5 col-md-12 w-100 h-100">
                <div class="admin__img"></div>
            </div>
            <div class="col-lg-7 col-md-12">
                <p class="mb-4">
                    We know that, as a part of the school management team, there are
                    many things that you need to manage for the school.
                    <strong> Our School Management ERP</strong> provides the modules
                    which will save your time and increase your productivity.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2"> Lowers financial cost of paper</span>
                    </div>
                    <!--new item-->
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2">Increase trust and credibility </span>
                    </div>
                    <!--new item-->
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2">
                            Clear visibility over the performance and process
                        </span>
                    </div>
                    <!--new item-->
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2">
                            Strengthen bond between Student, Parents & Teacher
                        </span>
                    </div>
                    <!--new item-->
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2">Faster Communication </span>
                    </div>
                    <!--new item-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
<div class="teacher">
    <div class="container">
        <h2 class="text-center heading teacher__head">Teacher</h2>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <p class="mb-4">
                    Quick access to the time table, home works, and worksheets, etc
                    eases the teaching experience of teachers.
                    <strong>Our School Management Software</strong> provides many
                    functionalities to make work easier and automated for teachers
                    which are mentioned below.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2"> Send instant circular </span>
                    </div>
                    <!--new item-->
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2">Save time for parent mettings </span>
                    </div>
                    <!--new item-->
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2">News & Circular </span>
                    </div>
                    <!--new item-->
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2">Result & Timetable </span>
                    </div>
                    <!--new item-->
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2">Student Attendace </span>
                    </div>
                    <!--new item-->
                </div>
            </div>
            <div class="col-lg-5 col-md-12 w-100 h-100">
                <div class="teacher__img"></div>
            </div>
        </div>
    </div>
</div>
<!--  -->
<div class="parent">
    <div class="container">
        <h2 class="text-center heading parent__head">Parent</h2>
        <div class="row">
            <div class="col-lg-5 col-md-12 w-100 h-100">
                <div class="parent__img"></div>
            </div>
            <div class="col-lg-7 col-md-12">
                <p class="mb-4">
                    This Software also helps Parents too to track their children’s
                    progress in a few clicks. Transparent communication between school
                    and parents about the student is really ecstatic. Below features
                    are for the parents provided by
                    <strong> our School Management Software</strong> .
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2"> School Calendar </span>
                    </div>
                    <!--new item-->
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2">Latest News & Circular </span>
                    </div>
                    <!--new item-->
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2">Daily attendance status </span>
                    </div>
                    <!--new item-->
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2">Queries & Complains </span>
                    </div>
                    <!--new item-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
<div class="student">
    <div class="container">
        <h2 class="text-center heading student__head">Student</h2>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <p class="mb-4">
                    This Software also helps Student too to track their Subjects
                    progress in a few clicks. Transparent communication between
                    Teacher and Student about the Subjects is really ecstatic. Below
                    features are for the Student provided by
                    <strong> our School Management Software</strong> .
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2"> Class Calendar </span>
                    </div>
                    <!--new item-->
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2">Latest News & Circular </span>
                    </div>
                    <!--new item-->
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2">Daily attendance status </span>
                    </div>
                    <!--new item-->
                    <div class="col-lg-6 col-md-12 mb-4 d-flex align-items-center">
                        <i class="fas fa-check-circle"></i><span class="pl-2">Show Mark and Grades </span>
                    </div>
                    <!--new item-->
                </div>
            </div>

            <div class="col-lg-5 col-md-12 w-100 h-100">
                <div class="student__img"></div>
            </div>
        </div>
    </div>
</div>